# dependencies
/node_modules

# next.js
/.next/
/.next-*/
/out/

# production
/build

# prisma
/prisma/generated

# env files (mantenha .env.example versionado)
.env*
!.env.example

# logs
npm-debug.log*

# editor
.DS_Store
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts
